@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxx {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #75029b;
    background-image: url("https://i.redd.it/e2aiwmfjv0g51.png");
}

.content1 {
    width: 500px;
    height: 200px;
    background-color: #9200c2cb;
    border: 2px solid #75fee4;
    border-radius: 15px;
    text-align: center;
    padding: 3em;
    color: white;
}

#namer {
    text-transform: uppercase;
}


/*FORM*/

#bs {
    font-size: xx-small;
}

input {
    width: 100%;
    height: 30px;
    margin: 10px;
    background-color: #9200c2cb;
    border: 2px solid #75fee4;
    font-family: 'Press Start 2P';
    color: orange;
}

input:focus {
    /* background-color: #75fee4; */
    text-decoration: none;
}

button {
    width: 200px;
    height: 30px;
    border: 1px solid #75fee4;
    margin-top: 1em;
    font-family: 'Press Start 2P';
    background-color: #75fee4;
}


/*IMAGE MODAL*/

.modal-first p {
    margin: 0, auto;
    text-align: center;
    color: white;
}

.modal-first input {
    margin: 0;
}

.modal-first {
    height: 150px;
    position: relative;
}

.modal-first button {
    width: 70%;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal {
    /* MODAL (background)*/
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #9200c2cb;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #75fee4;
    max-width: 25%;
}

.close {
    width: 200px;
    height: 30px;
    border: 1px solid #75fee4;
    margin-top: 1em;
    font-family: 'Press Start 2P';
    background-color: #75fee4;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-content img {
    max-width: 100%;
}

#counter {
    color: orange;
}

.ranking {
    max-width: 25%;
    min-width: 15%;
    height: 35vh;
    background-color: #9200c2cb;
    position: absolute;
    top: 1.25rem;
    left: 1.20rem;
    border-radius: 10%;
    border: 2px solid #75fee4;
}

.ranking ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
}

.ranking ul li {
    margin: 1rem 0.1rem;
    color: orange;
}

@media (min-width: 800px) {
    .modal-first button {
        margin: 0;
        position: absolute;
        top: 85%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 600px) and (max-width:800px) {
    .modal-first {
        font-size: medium;
        height: 180px;
    }
    .modal-first button {
        margin: 0;
        position: absolute;
        top: 85%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 500px) and (max-width:600px) {
    .modal-first {
        font-size: small;
    }
    .modal-first button {
        margin: 0;
        position: absolute;
        top: 82%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 300px) and (max-width:500px) {
    .modal-first {
        font-size: 11px;
    }
    .modal-first button {
        margin: 0;
        position: absolute;
        top: 82%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 580px) {
    .content1 h2 {
        font-size: medium;
    }
}

@media (max-width: 520px) {
    button {
        width: 150px;
    }
}

@media (max-width: 450px) {
    #reload {
        margin-top: 0.5em;
        clear: both;
    }
    #btn-1 {
        float: left;
    }
    #btn-2 {
        float: right;
    }
}

@media (max-width:405px) {
    button {
        width: 100px;
        font-size: small;
    }
}